{% extends "base.html" %}

{% block content %}
<h1 align="center">Ваши данные</h1>
<img src=".../static/images/loaded.png" alt="Фото"><br>
{% set lst=['фамилия','имя', 'emai', 'profession', 'пол', 'о себе'] %}
{% for key, value in data.items() %}
{{ lst[loop.index0] }}- {{value}} <br>
{% endfor %}


{% endblock %}
{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Имя</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>

    {% endblock %}