<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
<h1>Кто в очереди за кем?</h1>
<!--назначение переменой прямо в html-->
{% set lst = ['Tom','Bob','Tim', 'Sam']%}
<ul>
  {% for user in lst %}
  <li>
    {{loop.index}} - {{user}}
    {% if loop.first %} - первый
    {% elif loop.last %} - последний
    {% endif %}
  </li>{% endfor %}
</ul>



</body>
</html>